@tailwind base;
@tailwind components;
@tailwind utilities;

.isActive {
  border-bottom: solid white 2px;
  filter: drop-shadow(1px 1px 12px white )
}

.white-shadow {
  filter: drop-shadow(1px 1px 12px white )
}

.white-shadow {
  filter: drop-shadow(1px 1px 12px white )
}

.white-shadow-hover:hover {
  filter: drop-shadow(1px 1px 12px white )
}

.white-shadow-focus:focus {
  filter: drop-shadow(1px 1px 6px white )
}

.new-shadow-cyan {
  box-shadow: 0px 0px 6px cyan;
}

.new-shadow-cyan-hover:hover {
  box-shadow: 0px 0px 14px cyan;
}

body {
  padding: 0;
  margin: 0;
}

.eliptical-top {
  position: relative;
  padding-top: 10px; /* Ajusta según sea necesario */
  z-index: 10;
}

.eliptical-top::before {
  content: "";
  position: absolute;
  top: -45px; /* Ajusta según sea necesario */
  left: 0;
  right: 0;
  height: 60px; /* Ajusta según sea necesario */
  background: #111;
  border-top-left-radius: 50% 100px; /* Ajusta el radio de la elipse */
  border-top-right-radius: 50% 100px; /* Ajusta el radio de la elipse */
}

#menu-1 {
  background-image: url(./assets/menu-card-2-img/img-menu-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}

#menu-2 {
  background-image: url(./assets/menu-card-2-img/img-menu-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

#menu-3 {
  background-image: url(./assets/menu-card-2-img/img-menu-3.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

#menu-4 {
  background-image: url(./assets/menu-card-2-img/img-menu-4.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

#menu-5 {
  background-image: url(./assets/menu-card-2-img/img-menu-5.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

#menu-6 {
  background-image: url(./assets/menu-card-2-img/img-menu-6.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}